.box1{
    width: 300px;
    height: 400px;
    background-color: #2F8141 ;
}
.box2{
    width: 571px;
    height: 140px;
    background-color: #13513B ;
}
.box3{
    width: 571px;
    height: 140px;
    background-color: #E624BB ;
}
.box4{
    width: 571px;
    height: 140px;
    background-color: #55EF0D ;
}